<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Home sensors</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            align-items: center;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .btn-red {
            background-color: #B71C1C;
            border-color: #B71C1C;
        }

        .btn-red:hover, .btn-red:active {
            background-color: #921717!important;
            border-color: #921717!important;
        }

    </style>

</head>
<body>
{% block precontent %}
{% endblock %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>


<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDGzDjkKT3aQMX5dUBhGbfozodub8tvMPE",
        authDomain: "sensori-271610.firebaseapp.com",
        databaseURL: "https://sensori-271610.firebaseio.com",
        projectId: "sensori-271610",
        storageBucket: "sensori-271610.appspot.com",
        messagingSenderId: "806865718066",
        appId: "1:806865718066:web:c78d6bf2de62081629652b",
        measurementId: "G-8MG4PTD1PJ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
</body>
</html>