{% extends 'base-page.twig' %}
{% block content %}
    <h1>Error</h1>
    <p>{{ errorMessage }}</p>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 512px;
        }
    </style>
{% endblock %}