{% extends 'base-page.twig' %}
{% block content %}
    <h1>Error</h1>
    {% if error_message is iterable %}
        {% for msg in error_message %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% else %}
        <p>{{ error_message }}</p>
    {% endif %}
    <style>
        .content {
            margin: 16px;
        }
    </style>
{% endblock %}