{% extends 'base-page.twig' %}
{% block content %}
    <h1>Install</h1>
    <p>Create and admin user and install the product</p>
    <form method="POST" action="{{ root }}/install">
        {% include 'user-data-form.twig' with {
            'submit_name': 'Create database'
        } only %}
    </form>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 512px;
        }
    </style>
{% endblock %}