{% extends 'base-page.twig' %}
{% block content %}

    <form class="form-signin" method="POST" action="{{ root }}/login">
        <h1>Login</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" onchange="checkLogin()" onkeypress="checkLogin()" onload="checkLogin()" onkeydown="checkLogin()">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" onchange="checkLogin()" onkeypress="checkLogin()" onkeydown="checkLogin()">
        </div>
        <button id="login" type="submit" class="btn btn-primary" disabled>Login</button>
    </form>

    <script>
        function checkLogin() {
            let username = $('#username').val();
            let password = $('#password').val();
            $('#login').prop('disabled', username === '' || password === '');
        }

        $(document).ready(() => {
           checkLogin();
        });
    </script>
{% endblock %}