{% extends 'base-page.twig' %}
{% block content %}
    <form class="form-signin" method="POST" action="{{ root }}/register">
        <h1>Register</h1>
        {% include 'user-data-form.twig' with {
            'submit_name': 'Create user'
        } only %}
        <input type="hidden" name="token" value="{{ token }}">
    </form>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 512px;
        }
    </style>
{% endblock %}