{% set active = "users" %}
{% extends 'base-settings.twig' %}
{% block settings %}
    <h1>Edit user</h1>
    <form method="POST" action="edit">
        {% include 'user-data-form.twig' with {
            'submit_name': 'Edit user',
            'user': user
        } %}
        <a href="{{ root }}/settings/users" class="btn btn-primary btn-gray">Cancel</a>
        <a href="{{ root }}/settings/users/{{ user.id }}/delete" class="btn btn-primary btn-red">Delete user</a>
    </form>
{% endblock %}